header {
    text-align: center;
    font-size: 60px;
    color: floralwhite;
    -webkit-text-stroke: 1px black;
    font-family: 'georgia';
}
img{
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.menu {
    font-size: 50px;
    text-align: left;
    position: absolute;
    display: flex;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}
.menu ul  {
    list-style: none;

}
.menu ul li {
    display: list-item;
    padding: 20px;
    padding-bottom: 10px;

  }
.menu ul li a {
  text-decoration: none;
  font-size: 24px;
  color: white;
  background: black;
}
.menu ul li a:hover {
    color: #404764;
    border-bottom: 2px #404764 solid;
}
.me{
    color: white;
    size: 50px;
    text-align: center;
    }

table, th, td {
    border: 1px solid white;
} 

.exp{
    color: white;
    text-align: center;
    margin-top: 1in;
}